// /* Breakpoints
//   ========================================================================== */
$bp-phone-s: 320/16 * 1em;    // Breaks at 320px
$bp-phone-m: 480/16 * 1em;    // Breaks at 480px
$bp-tablet-s: 640/16 * 1em;   // Breaks at 640px
$bp-tablet-m: 960/16 * 1em;   // Breaks at 960px
$bp-tablet-l: 1120/16 * 1em;  // Breaks at 1120px
$bp-desktop-s: 1340/16 * 1em; // Breaks at 1340px
$bp-desktop-m: 1480/16 * 1em; // Breaks at 1480px